REDIS_URL=redis://localhost:6379
N8N_HOTEL_API_KEY=23ad42121e9171888b0c6403a8aa6295e4d9d02561f23e96ef8436ed714ffd06
# Em produção, mantenha false no app web e execute worker separado
START_WORKER_IN_WEB=false
SCAN_WORKER_CONCURRENCY=8
SCAN_WORKER_CONCURRENCY_STATIC=8
SCAN_WORKER_CONCURRENCY_BROWSER=4
